@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #ffffff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--yellow-color: #F9BB00;
	--red-color:#CC0404;
	--green-color: #577502;
	--pink-color: #FF7373;
	--blue-color: #01A0FF;
	--grey-color: #777777;


}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #FFFFFF;

	padding-bottom: env(safe-area-inset-bottom); /* iOS */
	/*margin: 20px;*/
}

html,body{
	height: 100%;
	overflow: hidden;
}

body.index-page {
	background-image: url("../media/hp-bg engagement pic.jpg"); /* Update this line with the desired background color */
	/* Other styles for the body of index.html */

	background-repeat: no-repeat;
	background-position: center top ;
	background-attachment: fixed;
	background-size: cover;
	background-size: 100%; /* Increase the size to zoom out (100% + 80% = 180%) */

}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: #FFF;
	color: #F9BB00;
	border-radius: 20px;
	font-size: 17px;
	height: 40px;
	margin-left: 10px;
	border: 0;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
}
.bigbutton {
	cursor: pointer;
	padding: 5px 15px;
	background: #FFF;
	color: #F9BB00;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: 0;
	font-size: 17px;
	border-radius: 20px;
	text-align: center;
}

/* Chat Page */

.chat-container {
	background: #fff;
	margin: 10px auto;
	/*overflow: hidden;*/
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.chat-header {
	background: linear-gradient(90deg, #CC0404 0%, #FED000 100%);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-self: stretch;
}

.chat-main {
	display: grid;
	/*flex:1;*/
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto 1fr; /* Add this line to set chat-form-container to take the remaining vertical space */

}


.chat-sidebar {
	background: linear-gradient(90deg, #CC0404 0%, #FED000 585.83%);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar::-webkit-scrollbar {
	width: 0; /* Webkit-based browsers (Chrome, Safari) */
}


.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	/*flex:1;*/
	/*overflow-y: scroll;*/
	overflow-y: auto; /* Allow vertical scrolling within this container */
	overscroll-behavior: contain;
	background: linear-gradient(to bottom right, rgba(87, 117, 2, 0.05) 0%, rgba(87, 117, 2, 0.25) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(87, 117, 2, 0.05) 0%, rgba(87, 117, 2, 0.25) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(87, 117, 2, 0.05) 0%, rgba(87, 117, 2, 0.25) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(87, 117, 2, 0.05) 0%, rgba(87, 117, 2, 0.25) 50%) top right / 50% 50% no-repeat;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background: #FEFEFE;
	border-radius: 10px;
	box-shadow: 3px 5px 4px 0px rgba(87, 117, 2, 0.15);
	color: #050605;
}

.chat-messages .message.user-message{
	align-self: flex-end !important;
	color: #050605;
}

.chat-messages .message.friend-message{
	align-self: flex-start !important;
	color: #050605;
}

.chat-messages .message.server-message{
	align-self: center !important;
	color: #050605;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message.server-message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #577502;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message.user-message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #FF7373;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message.friend-message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #01A0FF;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-messages .message img {
	max-width: 100%; /* Ensure images don't exceed their container */
	border-radius: 5px; /* Apply a border radius to images */
	margin: 5px 0; /* Add some spacing around images */
}

.chat-form-container {
	padding: 20px 30px;
	background: linear-gradient(90deg, #CC0404 0%, #FED000 100%);
	/*bottom: 0;*/
	/*left: 0;*/
	/*position: fixed;    !* Set the position to fixed *!*/
	width: 100%;


	position: fixed;
	bottom: 0;
	left: 0;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border-radius: 10px;
	border: 1px solid #ccc;
}

/* Join Page */
.join-container {
	max-width: 500px;
	color: #FFFFFF;
	margin: 80px auto;
	display: grid;
	backdrop-filter: blur(5px);
	/*background: url("../media/hp-bg engagement pic.jpg") no-repeat center center fixed;*/
	/*background-size: cover;*/
}

.join-header {
	text-align: center;
	padding: 20px;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5x);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.join-main {
	padding: 30px 40px;
	background: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 768px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
	.chat-form-container {
		padding: 15px 10px;
	}


	.btn {
		padding: 5px 10px;
		border-radius: 20px;
		font-size: 17px;
		height: 40px;
		margin-left: 7px;
	}

	.chat-messages {
		padding: 10px;
	}


	.bigbutton {
		padding: 10px 5px;
		background: #FFF;
		color: #F9BB00;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		border: 0;
		font-size: 17px;
		border-radius: 20px;
		text-align: center;
	}

	body.index-page {
		background-image: url("../media/hp-bg-mobile.jpg"); /* Update this line with the desired background color */
		/* Other styles for the body of index.html */

		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
	}




}


/* Video and Camera Elements */

#video-div {
	position: fixed;
	width: 100vw;
	height: 100vh; /* Set the height to cover the entire viewport */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Center the div both horizontally and vertically */
	z-index: 998; /* A high z-index value to ensure it appears on top */
	display: none; /* Hide it initially */
	object-fit: cover;
}

#camera-feed {
	position: absolute;
	width: 100vw;
	height: 100vh; /* Set the height to cover the entire viewport */
	top: 0;
	left: 0;
	object-fit: cover;
	transform: scaleX(-1); /* Flip the video horizontally */

}

#captureButton {
	position: absolute;
	z-index: 999; /* A high z-index value to ensure it appears on top */
	bottom: 10%; /* Adjust this value for the desired distance from the bottom */
	left: 50%; /* Center horizontally */
	transform: translateX(-50%); /* Center horizontally */
	cursor: pointer;
	padding: 5px 15px;
	background: #F9BB00;
	color: #FFFFFF;
	border: 0;
	font-size: 50px;

	border-radius: 50%; /* Make it round */
	width: 75px; /* Adjust the width */
	height: 75px; /* Adjust the height */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#giphy-components {
	z-index: 999;
	background: black;
	margin: 150px 0 0 0;
	padding: 0;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*justify-content: center; !* Center horizontally *!*/
	/*align-items: center; !* Center vertically *!*/
	display: none;
	height: calc(100% - 0px); /* Set a fixed height, adjust as needed */
	overflow-y: scroll; /* Enable vertical scrolling */
}

#result{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(auto, 200px)); /* Adjust minmax width as needed */
	gap: 10px; /* Adjust gap between images as needed */
	justify-items: center; /* Center content horizontally within each grid cell */
	align-items: center; /* Center content vertically within each grid cell */
	padding: 20px; /* Add padding to separate from the search box */

}

#result{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center; /* Center content vertically within each grid cell */
	padding: 20px; /* Add padding to separate from the search box */
	gap: 10px;

}


#result img{
	width: 100%;
	max-width: 100%;
	/*padding-top: 100%; !* Maintain a 1:1 aspect ratio (square) *!*/
	background-size: cover; /* Zoom and crop the background image to fill the container */
	background-repeat: no-repeat;
	background-position: center center;
}

/* Style the search box and button */
#search-input {
	width: 80%;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	color: white;
}

#search {
	padding: 10px 20px;
	background: var(--dark-color-a);
	color: var(--light-color);
	border: 0;
	font-size: 18px;
	cursor: pointer;
}

#close-gif-popup {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}

/* Style the dismiss button */
.close-button {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 50px;
	cursor: pointer;
	color: #CC0404; /* Adjust the close icon color */
}


/* Style the capture button */
/*.capture-btn {*/
/*	!*position: fixed;*!*/
/*	bottom: 50%;*/
/*	left: 50%;*/
/*	transform: translateX(-50%);*/
/*	background-color: var(--dark-color-a); !* Adjust the background color *!*/
/*	color: var(--light-color); !* Adjust the text color *!*/
/*	border: none;*/
/*	border-radius: 50%; !* Make it round *!*/
/*	width: 50px; !* Adjust the width *!*/
/*	height: 50px; !* Adjust the height *!*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	font-size: 24px; !* Adjust the icon size *!*/
/*	cursor: pointer;*/
/*}*/


/* Hide the vertical scrollbar for Webkit-based browsers (Chrome, Safari) */
.chat-messages::-webkit-scrollbar {
	width: 6px; /* Adjust the width as needed */
}

.chat-messages::-webkit-scrollbar-thumb {
	background-color: transparent; /* Make the scrollbar thumb transparent */
}

.chat-messages::-webkit-scrollbar-track {
	background-color: transparent; /* Make the scrollbar track transparent */
}